*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color:slategray;
  font-family: sans-serif;
  color: floralwhite;
}
.important {
  border: 5px solid bisque;
}
a:hover {
  font-size: 1.4rem;
}